<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.AccountsMapper">

    <resultMap id="AccountsResultMap" type="models.AccountsModel">
        <result property="accountNumber" column="accountnumber"/>
        <result property="balance" column="balance"/>
        <result property="accountType" column="account_type"/>
        <result property="status" column="status"/>
        <result property="currency" column="currency"/>
        <result property="interestRate" column="interest_rate"/>
        <association property="usersModel" javaType="models.UsersModel">
            <id property="id" column="user_id"/>
            <result property="name" column="name"/>
            <result property="email" column="email"/>
            <result property="address" column="address"/>
            <result property="phoneNumber" column="phonenumber"/>
            <result property="birthdate" column="birthdate"/>
        </association>
    </resultMap>

    <insert id="insertAccounts">
        INSERT INTO accountdetails(accountnumber, balance, userid, status, account_type, currency, interest_rate)
        VALUES (#{accountNumber}, #{balance}, #{usersModel.id}, #{status}, #{accountType}, #{currency}, #{interestRate})
    </insert>

    <select id="findAccountById" resultMap="AccountsResultMap" parameterType="long">
        SELECT
            a.accountnumber,
            a.balance,
            a.account_type,
            a.status,
            a.currency,
            a.interest_rate,
            u.id AS user_id,
            u.name AS name,
            u.email AS email,
            u.address AS address,
            u.phonenumber AS phonenumber,
            u.birthdate AS birthdate
        FROM accountdetails a
                 JOIN userdetails u ON a.userid = u.id
        WHERE a.userid = #{userid}
    </select>


    <update id="update">
        UPDATE accountdetails
        SET accountnumber=#{accountNumber},
            balance=#{balance},
            userid=#{usersModel.id},
            status=#{status},
            account_type=#{accountType},
            currency=#{currency},
            interest_rate=#{interestRate}
        WHERE userid = #{usersModel.id}
    </update>

    <delete id="deleteAccountById">
        DELETE
        FROM accountdetails
        WHERE userid = #{usersModel.id}
    </delete>

    <select id="findAllAccounts" resultMap="AccountsResultMap" parameterType="map">
        SELECT
            a.accountnumber,
            a.balance,
            a.account_type,
            a.status,
            a.currency,
            a.interest_rate,
            u.id AS user_id,
            u.name AS name,
            u.email AS email,
            u.address AS address,
            u.phonenumber AS phonenumber,
            u.birthdate AS birthdate
        FROM accountdetails a
                 JOIN userdetails u ON a.userid = u.id
        ORDER BY a.accountnumber
            LIMIT #{size} OFFSET #{offset}
    </select>


</mapper>
